{{template "base" .}}

{{define "content"}}
    <h1>Welcome to the About Page</h1>
    <p>This is the about page of your Go web application.</p>
    <p>This is the about page of your Go web application.</p>
{{end}}